<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header> -->
<app-header></app-header>
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
      </li>
    }

    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
    </li> -->

    <!-- <li>
       Here avatar is a property and is not an attribute. This property is used to pass value in avatar varibale define in UserComponent
        Below is if we are defining separate properties for inputs
       <app-user [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onSelectUser($event)"></app-user>
       Using objects as inputs
       <app-user [user]="users[0]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"></app-user>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"></app-user>
    </li> -->
  </ul>
  @if (selectedUsername) {
    <app-tasks [name]="selectedUsername" [userId]="selectedUserId"></app-tasks>
  } @else {
    <p id="fallback">Select a user to see the details!</p>
  }
  
  <!-- <app-tasks *ngIf="selectedUsername else  fallback" [name]="selectedUsername"></app-tasks>
  <ng-template #fallback>
    <p id="fallback">Select a user to see the details!</p>
  </ng-template> -->
</main>
